[Unit]
Description=Start Vulhub Management Service
After=network.target

[Service]
type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/vulhubmanagement
ExecStart=/usr/bin/docker-compose -f docker-compose-dev.yml up -d
ExecStop=/usr/bin/docker-compose -f docker-compose-dev.yml down


[Install]
WantedBy=multi-user.target
