[Unit]
Description=Start Vulnhub Management Service
After=network.target

[Service]
WorkingDirectory=/etc/vulnhubmanagement
ExecStart=/etc/vulnhubmanagement/vulnhubmanagement.sh


[Install]
WantedBy=multi-user.target
